// MONTSERRAT - REGULAR
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local(''),
            url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'),
            url('../fonts/montserrat-v15-latin-regular.woff') format('woff');
}

// MONTSERRAT - REGULAR - ITALIC
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: local(''),
            url('../fonts/montserrat-v15-latin-italic.woff2') format('woff2'),
            url('../fonts/montserrat-v15-latin-italic.woff') format('woff');
}
  
  
// MONTSERRAT MEDIUM
@font-face {
    font-display: swap;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local(''),
        url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin-500.woff') format('woff');
}
  
// MONTSERRAT SEMI-BOLD
@font-face {
font-display: swap;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
src: local(''),
        url('../fonts/montserrat-v15-latin-600.woff2') format('woff2'),
        url('../fonts/montserrat-v15-latin-600.woff') format('woff');
}

// -------------------------------------------------------------------------

// RALEWAY SEMI-BOLD
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/raleway-v19-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/raleway-v19-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
  
// RALEWAY BOLD
@font-face {
    font-display: swap;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    src: local(''),
        url('../fonts/raleway-v19-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/raleway-v19-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}