
.formation-hero {
    @include heroFormationLayOut(20rem);
    .formation-title {
        position: absolute;
        top: 50%;
        @include sectionTitle($size20, $white);
    }
}

.formation-desc {
    @include section(4rem, $white, $white);
    .container {
        @include flexContainer($ctnrWidth1, row);
        .formation-text {
            @include textBloc(100%, $raleway, $size16, $semiBold);
        }
    }
}



// ------------------------------------------------------------------
// ------------------------------------------------------------------
// BREAK POINT 1

@media screen and (min-width: $breakPoint1) {
    .formation-hero {
        @include heroFormationLayOut(25rem);
        .formation-title {
            position: absolute;
            top: 50%;
            @include sectionTitle($size24, $white);
        }
    }
    
    .formation-desc {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth2, row);
            .formation-text {
                @include textBloc(100%, $raleway, $size20, $semiBold);
            }
        }
    }
}



// ------------------------------------------------------------------
// ------------------------------------------------------------------
// BREAK POINT 2

@media screen and (min-width: $breakPoint2) {
    .formation-hero {
        @include heroFormationLayOut(30rem);
        .formation-title {
            position: absolute;
            top: 50%;
            @include sectionTitle($size32, $white);
        }
    }
    
    .formation-desc {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer(43rem, row);
            .formation-text {
                @include textBloc(100%, $raleway, $size20, $semiBold);
            }
        }
    }
}



// ------------------------------------------------------------------
// ------------------------------------------------------------------
// BREAK POINT 3

@media screen and (min-width: $breakPoint3) {
    .formation-hero {
        @include heroFormationLayOut(35rem);
        .formation-title {
            position: absolute;
            top: 50%;
            @include sectionTitle($size40, $white);
        }
    }
    
    .formation-desc {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer(59rem, row);
            .formation-text {
                @include textBloc(100%, $raleway, $size24, $semiBold);
            }
        }
    }
}



// ------------------------------------------------------------------
// ------------------------------------------------------------------
// BREAK POINT 4

@media screen and (min-width: $breakPoint4){
    .formation-hero {
        @include heroFormationLayOut(40rem);
        .formation-title {
            position: absolute;
            top: 50%;
            @include sectionTitle($size48, $white);
        }
    }
    
    .formation-desc {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer(84rem, row);
            .formation-text {
                @include textBloc(100%, $raleway, $size24, $semiBold);
            }
        }
    }
}
