
.formation-hero {
    @include heroFormationLayOut(20rem);
    .formation-title {
        position: absolute;
        top: 50%;
        @include sectionTitle($size20, $white);
    }
}

.formation-desc {
    @include section(4rem, $white, $white);
    .container {
        @include container(29rem);
        @include flexContainer();
        .formation-text {
            @include textBloc(100%, $raleway, $size16, $semiBold);
        }
    }
}

@media screen and (min-width: 36rem) {
    .formation-hero {
        @include heroFormationLayOut(25rem);
        .formation-title {
            position: absolute;
            top: 50%;
            @include sectionTitle($size24, $white);
        }
    }
    
    .formation-desc {
        @include section(4rem, $white, $white);
        .container {
            @include container(46rem);
            @include flexContainer();
            .formation-text {
                @include textBloc(100%, $raleway, $size20, $semiBold);
            }
        }
    }
}

@media screen and (min-width: 49rem) {
    .formation-hero {
        @include heroFormationLayOut(30rem);
        .formation-title {
            position: absolute;
            top: 50%;
            @include sectionTitle($size32, $white);
        }
    }
    
    .formation-desc {
        @include section(4rem, $white, $white);
        .container {
            @include container(65rem);
            @include flexContainer();
            .formation-text {
                @include textBloc(66%, $raleway, $size20, $semiBold);
            }
        }
    }
}

@media screen and (min-width: 62rem) {
    .formation-hero {
        @include heroFormationLayOut(35rem);
        .formation-title {
            position: absolute;
            top: 50%;
            @include sectionTitle($size40, $white);
        }
    }
    
    .formation-desc {
        @include section(4rem, $white, $white);
        .container {
            @include container(65rem);
            @include flexContainer();
            .formation-text {
                @include textBloc(66%, $raleway, $size24, $semiBold);
            }
        }
    }
}

@media screen and (min-width: 75rem){
    .formation-hero {
        @include heroFormationLayOut(40rem);
        .formation-title {
            position: absolute;
            top: 50%;
            @include sectionTitle($size48, $white);
        }
    }
    
    .formation-desc {
        @include section(4rem, $white, $white);
        .container {
            @include container(127.6rem);
            @include flexContainer();
            .formation-text {
                @include textBloc(66%, $raleway, $size24, $semiBold);
            }
        }
    }
}
