
.site-header {
    position: relative;
    @include section(2.2rem, $accent, $accent);
    .container {
        position: static;
        @include container(29rem);
        @include headerContainerLayOut();
        .site-logo {
            @include siteTitle($size24);
        }
        .site-menu {
            @include headerMenuToggle(29rem, $size14, .5rem, .5rem);
        }
    }
}

@media screen and (min-width: 36em) {
    .site-header {
        position: relative;
        @include section(2.2rem, $accent, $accent);
        .container {
            position: static;
            @include container(46rem);
            @include headerContainerLayOut();
            .site-logo {
                @include siteTitle($size32);
            }
            .site-menu {
                @include headerMenuToggle(46rem, $size16, 1rem, 1rem);
            }
        }
    }
}

@media screen and (min-width: 49em) {
    .site-header {
        position: relative;
        @include section(2.2rem, $accent, $accent);
        .container {
            position: static;
            @include container(65rem);
            @include headerContainerLayOut();
            .site-logo {
                @include siteTitle($size40);
            }
            .site-menu {
                @include headerMenuToggle(65rem, $size20, 1.5rem, 1rem);
            }
        }
    }
}

@media screen and (min-width: 62em) {
    .site-header {
        position: relative;
        @include section(2.2rem, $accent, $accent);
        .container {
            position: static;
            @include container(89rem);
            @include headerContainerLayOut();
            .site-logo {
                @include siteTitle($size40);
            }
            .site-menu {
                @include headerMenu($size16, 1rem, 1rem);
            }
        }
    }
}

@media screen and (min-width: 75em) {
    .site-header {
        position: relative;
        @include section(2.2rem, $accent, $accent);
        .container {
            position: static;
            @include container(127.6rem);
            @include headerContainerLayOut();
            .site-logo {
                @include siteTitle($size48);
            }
            .site-menu {
                @include headerMenu($size20, 2rem, 1rem);
            }
        }
    }
}
