
// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// HERO

.background-hero{
    @include backgroundHero(62vh);
}
.container {
    position: relative;
    @include flexContainer($ctnrWidth1, row);
    .site-desc {
        position: absolute;
        @include siteDescLayOut(flex-end, 100%, -60%, 0%);
        .desc {
            @include heroDesc($size32);
        }
        .cta-meet {
            @include heroButton($size20);
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 1

@media screen and (min-width: $breakPoint1) {
    .background-hero{
        @include backgroundHero(62vh);
    }
    .container {
        position: relative;
        @include flexContainer($ctnrWidth2, row);
        .site-desc {
            position: absolute;
            @include siteDescLayOut(flex-end, 100%, -70%, 0%);
            .desc {
                @include heroDesc($size32);
            }
            .cta-meet {
                @include heroButton($size20);
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 2

@media screen and (min-width: $breakPoint2) {
    .background-hero{
        @include backgroundHero(62vh);
    }
    .container {
        position: relative;
        @include flexContainer($ctnrWidth3, row);
        .site-desc {
            position: absolute;
            @include siteDescLayOut(flex-end, 100%, -70%, 0%);
            .desc {
                @include heroDesc($size46);
            }
            .cta-meet {
                @include heroButton($size30);
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 3

@media screen and (min-width: $breakPoint3) {
    .background-hero{
        @include backgroundHero(62vh);
    }
    .container {
        position: relative;
        @include flexContainer($ctnrWidth4, row);
        .site-desc {
            position: absolute;
            @include siteDescLayOut(flex-end, 75%, -70%, 30%);
            .desc {
                @include heroDesc($size48);
            }
            .cta-meet {
                @include heroButton($size32);
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 4

@media screen and (min-width: $breakPoint4) {
    .background-hero{
        @include backgroundHero(62vh);
    }
    .container {
        position: relative;
        @include flexContainer($ctnrWidth5, row);
        .site-desc {
            position: absolute;
            @include siteDescLayOut(flex-end, 75%, -89%, 34%);
            .desc {
                @include heroDesc($size72);
            }
            .cta-meet {
                @include heroButton($size40);
            }
        }
    }
}



// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// BLOG

.last-news {
    @include section(4rem, $white, $white);
    .container {
        @include flexContainer($ctnrWidth1, column);
        .section-title {
            @include sectionTitle($size24, $textColor);
        }
        .articles {
            @include articlesGrid(3, 1, 3.2rem, 0rem);
            .article {
                @include articleLayOut(3, 1, 2rem, auto, 67.5rem, $size16);
                @include boxShadow();
                .article-img {
                    @include articleImage(26rem);
                }
                .article-content {
                    @include articleContent(flex-start, 1.5rem);
                    .article-date {
                        @include articleDate(1rem, $size12);
                    }
                    .article-title {
                        @include itemTitle($size20, $textColor, 1rem);
                    }
                    .bloc-text {
                        @include textBloc(100%, $montserrat, $size16, $regular);
                    }
                }
                .article-link {
                    @include articleLink(1.6rem, 3.2rem);
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 1

@media screen and (min-width: $breakPoint1) {
    .last-news {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth2, column);
            .section-title {
                @include sectionTitle($size30, $textColor);
            }
            .articles {
                @include articlesGrid(3, 1, 3.2rem, 0rem);
                .article {
                    @include articleLayOut(3, 1, 2.4rem, auto, 68.5rem, $size16);
                    @include boxShadow();
                    .article-img {
                        @include articleImage(26rem);
                    }
                    .article-content {
                        @include articleContent(flex-start, 1.5rem);
                        .article-date {
                            @include articleDate(1.6rem, $size14);
                        }
                        .article-title {
                            @include itemTitle($size24, $textColor, 1rem);
                        }
                        .bloc-text {
                            @include textBloc(100%, $montserrat, $size20, $regular);
                        }
                    }
                    .article-link {
                        @include articleLink(2.4rem, 4.8rem);
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 2

@media screen and (min-width: $breakPoint2) {
    .last-news {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth3, column);
            .section-title {
                @include sectionTitle($size36, $textColor);
            }
            .articles {
                @include articlesGrid(3, 1, 3.2rem, 0rem);
                .article {
                    @include articleLayOut(3, 1, 2.4rem, auto, 63rem, $size20);
                    @include boxShadow();
                    .article-img {
                        @include articleImage(26rem);
                    }
                    .article-content {
                        @include articleContent(flex-start, 1.5rem);
                        .article-date {
                            @include articleDate(1.6rem, $size14);
                        }
                        .article-title {
                            @include itemTitle($size24, $textColor, 1.6rem);
                        }
                        .bloc-text {
                            @include textBloc(100%, $montserrat, $size20, $regular);
                        }
                    }
                    .article-link {
                        @include articleLink(2.4rem, 4.8rem);
                    }
                }
            }
        } 
    }
}

// ------------------------------------------------------------------
// BREAK POINT 3

@media screen and (min-width: $breakPoint3) {
    .last-news {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth4, column);
            .section-title {
                @include sectionTitle($size40, $textColor);
            }
            .articles {
                @include articlesGrid(1, 3, 4rem, 3.2rem);
                .article {
                    @include articleLayOut(3, 1, 2.4rem, auto, 87.7rem, $size20);
                    @include boxShadow();
                    .article-img {
                        @include articleImage(26rem);
                    }
                    .article-content {
                        @include articleContent(flex-start, 1.5rem);
                        .article-date {
                            @include articleDate(1.6rem, $size14);
                        }
                        .article-title {
                            @include itemTitle($size24, $textColor, 1.6rem);
                        }
                        .bloc-text {
                            @include textBloc(100%, $montserrat, $size20, $regular);
                        }
                    }
                    .article-link {
                        @include articleLink(2.4rem, 4.8rem);
                    }
                }
            }
        }
        
    }
}

// ------------------------------------------------------------------
// BREAK POINT 4

@media screen and (min-width: $breakPoint4) {
    .last-news {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth5, column);
            .section-title {
                @include sectionTitle($size48, $textColor);
            }
            .articles {
                @include articlesGrid(1, 3, 4rem, 3.2rem);
                .article {
                    @include articleLayOut(3, 1, 2.4rem, auto, 69rem, $size20);
                    @include boxShadow();
                    .article-img {
                        @include articleImage(26rem);
                    }
                    .article-content {
                        @include articleContent(flex-start, 1.5rem);
                        .article-date {
                            @include articleDate(1.6rem, $size16);
                        }
                        .article-title {
                            @include itemTitle($size24, $textColor, 1.6rem);
                        }
                        .bloc-text {
                            @include textBloc(100%, $montserrat, $size20, $regular);
                        }
                    }
                    .article-link {
                        @include articleLink(2.4rem, 4.8rem);
                    }
                }
            }
        }
    }
}



// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// TEAM

.team {
    @include section(4rem, $accent, $borderGrey);
    .container {
        @include flexContainer($ctnrWidth1, column);
        .section-title {
            @include sectionTitle($size24, $white);
        }
        .team-items {
            @include teamItems(4, 1, 0rem, 3.2rem);
            .studient-item {
                @include studientItem(2rem);
                .studient-img {
                    @include studientImage(20rem);
                }
                .studient-name{
                    @include itemTitle($size20, $white, 0rem);
                }
                .studient-link {
                    @include studientLink($white);
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 1

@media screen and (min-width: $breakPoint1) {
    .team {
        @include section(4rem, $accent, $borderGrey);
        .container {
            @include flexContainer($ctnrWidth2, column);
            .section-title {
                @include sectionTitle($size30, $white);
            }
            .team-items {
                @include teamItems(2, 2, 3.2rem, 1.7rem);
                .studient-item {
                    @include studientItem(2rem);
                    .studient-img {
                        @include studientImage(22rem);
                    }
                    .studient-name{
                        @include itemTitle($size20, $white, 0rem);
                    }
                    .studient-link {
                        @include studientLink($white);
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 2

@media screen and (min-width: $breakPoint2) {
    .team {
        @include section(4rem, $accent, $borderGrey);
        .container {
            @include flexContainer($ctnrWidth3, column);
            .section-title {
                @include sectionTitle($size36, $white);
            }
            .team-items {
                @include teamItems(2, 2, 3.2rem, 3.2rem);
                .studient-item {
                    @include studientItem(2rem);
                    .studient-img {
                        @include studientImage(22rem);
                    }
                    .studient-name{
                        @include itemTitle($size24, $white, 0rem);
                    }
                    .studient-link {
                        @include studientLink($white);
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 3

@media screen and (min-width: $breakPoint3) {
    .team {
        @include section(4rem, $accent, $borderGrey);
        .container {
            @include flexContainer($ctnrWidth4, column);
            .section-title {
                @include sectionTitle($size40, $white);
            }
            .team-items {
                @include teamItems(1, 4, 1.7rem, 0rem);
                .studient-item {
                    @include studientItem(2rem);
                    .studient-img {
                        @include studientImage(22rem);
                    }
                    .studient-name{
                        @include itemTitle($size24, $white, 0rem);
                    }
                    .studient-link {
                        @include studientLink($white);
                    }
                }
            }
        } 
    }
}

// ------------------------------------------------------------------
// BREAK POINT 4

@media screen and (min-width: $breakPoint4){
    .team {
        @include section(4rem, $accent, $borderGrey);
        .container {
            @include flexContainer($ctnrWidth5, column);
            .section-title {
                @include sectionTitle($size48, $white);
            }
            .team-items {
                @include teamItems(1, 4, 3.2rem, 0rem);
                .studient-item {
                    @include studientItem(2rem);
                    .studient-img {
                        @include studientImage(22rem);
                    }
                    .studient-name{
                        @include itemTitle($size24, $white, 0rem);
                    }
                    .studient-link {
                        @include studientLink($white);
                    }
                }
            }
        }
    }
}



// -----------------------------------------------------------------------------
// -----------------------------------------------------------------------------

// FORMATIONS

.formations {
    @include section(4rem, $white, $white);
    .container {
        @include flexContainer($ctnrWidth1, column);
        .section-title {
            @include sectionTitle($size24, $textColor);
        }
        .articles {
            @include articlesGrid(2, 1, 3.2rem, 0rem);
            .article {
                @include articleLayOut(3, 1, 4rem, auto, 61rem, $size16);
                @include boxShadow();
                .article-img {
                    @include articleImage(26rem);
                }
                .article-content {
                    @include articleContent(flex-start, 1rem);
                    .article-title{
                        @include itemTitle($size20, $textColor, 1.6rem);
                    }
                    .bloc-text {
                        @include textBloc(100%, $montserrat, $size16, $regular);
                    }
                }
                .article-link {
                    @include articleLink(1.6rem, 3.2rem);
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 1

@media screen and (min-width: $breakPoint1) {
    .formations {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth2, column);
            .section-title {
                @include sectionTitle($size30, $textColor);
            }
            .articles {
                @include articlesGrid(2, 1, 3.2rem, 0rem);
                .article {
                    @include articleLayOut(3, 1, 4rem, auto, 64rem, $size16);
                    @include boxShadow();
                    .article-img {
                        @include articleImage(26rem);
                    }
                    .article-content {
                        @include articleContent(flex-start, 1rem);
                        .article-title{
                            @include itemTitle($size24, $textColor, 4rem);
                        }
                        .bloc-text {
                            @include textBloc(100%, $montserrat, $size20, $regular);
                        }
                    }
                    .article-link {
                        @include articleLink(2.4rem, 4.8rem);
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 2

@media screen and (min-width: $breakPoint2) {
    .formations {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth3, column);
            .section-title {
                @include sectionTitle($size36, $textColor);
            }
            .articles {
                @include articlesGrid(2, 1, 3.2rem, 0rem);
                .article {
                    @include articleLayOut(3, 1, 4rem, auto, 61rem, $size20);
                    @include boxShadow();
                    .article-img {
                        @include articleImage(26rem);
                    }
                    .article-content {
                        @include articleContent(flex-start, 1.5rem);
                        .article-title{
                            @include itemTitle($size24, $textColor, 4rem);
                        }
                        .bloc-text {
                            @include textBloc(100%, $montserrat, $size20, $regular);
                        }
                    }
                    .article-link {
                        @include articleLink(2.4rem, 4.8rem);
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 3

@media screen and (min-width: $breakPoint3) {
    .formations {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth4, column);
            .section-title {
                @include sectionTitle($size40, $textColor);
            }
            .articles {
                @include articlesGrid(1, 2, 0rem, 3.2rem);
                .article {
                    @include articleLayOut(3, 1, 4rem, auto, 67rem, $size20);
                    @include boxShadow();
                    .article-img {
                        @include articleImage(26rem);
                    }
                    .article-content {
                        @include articleContent(flex-start, 1.5rem);
                        .article-title{
                            @include itemTitle($size24, $textColor, 4rem);
                        }
                        .bloc-text {
                            @include textBloc(100%, $montserrat, $size20, $regular);
                        }
                    }
                    .article-link {
                        @include articleLink(2.4rem, 4.8rem);
                    }
                }
            }
        }
    }
}

// ------------------------------------------------------------------
// BREAK POINT 4

@media screen and (min-width: $breakPoint4) {
    .formations {
        @include section(4rem, $white, $white);
        .container {
            @include flexContainer($ctnrWidth5, column);
            .section-title {
                @include sectionTitle($size48, $textColor);
            }
            .articles {
                @include articlesGrid(1, 2, 0rem, 3.2rem);
                .article {
                    @include articleLayOut(3, 1, 4rem, auto, 61rem, $size20);
                    @include boxShadow();
                    .article-img {
                        @include articleImage(26rem);
                    }
                    .article-content {
                        @include articleContent(flex-start, 1.5rem);
                        .article-title{
                            @include itemTitle($size24, $textColor, 4rem);
                        }
                        .bloc-text {
                            @include textBloc(100%, $montserrat, $size20, $regular);
                        }
                    }
                    .article-link {
                        @include articleLink(2.4rem, 4.8rem);
                    }
                }
            }
        }
    }
}