
// --------------------------
// ROOTS

// COLORS
$white: #fff;
$accent: #FD7E37;
$textColor: #331100;
$dateColor: #663014;
$shadowGrey: #00000029;
$formGrey: #33110080;
$borderGrey: #707070;
$fadeGrey: #00000080;

// --------------------------
// TYPO

// FONT FAMILIES
$montserrat: 'Montserrat', sans-serif;
$raleway: 'raleway', sans-serif;

// FONT SIZES
$size12: 1.2rem;
$size14: 1.4rem;
$size16: 1.6rem;
$size18: 1.8rem;
$size20: 2rem;
$size24: 2.4rem;
$size30: 3rem;
$size32: 3.2rem;
$size36: 3.6rem;
$size40: 4rem;
$size46: 4.6rem;
$size48: 4.8rem;
$size72: 7.2rem;

// FONTS WEIGHTS
$regular: 400;
$medium: 500;
$semiBold: 600;
$bold: 700;
